@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-400: #de0d6f;
    --color-primary-500: #731054;

    --color-gray-200: #e5e5e5;
    --color-gray-300: #b2b2b2;
    --color-gray-400: #666666;
    --color-gray-500: #000000;

    --color-success-500: #3bc171;
  }
}

@layer utilities {
  .dashboard-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
}
